@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better aesthetics in dark mode */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #101922;
}
::-webkit-scrollbar-thumb {
  background: #283039;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b4754;
}

.lyric-scroll-container {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}